PROJECT_NAME=myanmar-ecommerce-batch-platform
ENVIRONMENT=local
LOG_LEVEL=INFO

DATA_ROOT=./data
RAW_DATA_DIR=./data/raw
SAMPLE_GENERATION_DIR=./data/sample_generation
DATA_LAKE_ROOT=./data_lake
BRONZE_DIR=./data_lake/bronze
SILVER_DIR=./data_lake/silver
GOLD_DIR=./data_lake/gold
LOG_DIR=./logs

SPARK_APP_NAME=MyanmarEcommerceBatchPlatform
SPARK_MASTER=local[*]
SPARK_WAREHOUSE_DIR=./spark-warehouse
DEFAULT_BATCH_DATE=2026-04-12
DEFAULT_ROW_SCALE=5000

WAREHOUSE_HOST=localhost
WAREHOUSE_PORT=5432
WAREHOUSE_DB=myanmar_commerce
WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=8484123
WAREHOUSE_SCHEMA=analytics
WAREHOUSE_AUDIT_SCHEMA=monitoring

AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
